* {
    font-family: "Kanit", sans-serif;
    font-size: 100%;
}

body {
    
    background-color: #272727;
    background-image: linear-gradient(to bottom right, #5c2501, #692b01, #9d3f00);
    background-size: cover; /* Optional: Ensures the gradient covers the whole area */
    background-repeat: no-repeat; /* Prevents tiling of the background */
    margin: 0;
    box-sizing: border-box;
    color: #f5f5f5;
    height: 100%;
}
        @media (max-width: 967px) {
            html {
                font-size: 100%;
                /* Adjust the base font size for smaller screens */
            }
        }
        @media (max-width: 768px) {
            html {
                font-size: 85%;
                /* Adjust the base font size for smaller screens */
            }
        }

/* X button on Mobile Navigation Menu */
.fa-times {
    font-size: 4rem;
    color: #f5f5f5;
    padding: 1rem;
}
    .fa-times:hover {
        animation: rotateAnimation 200ms ease-in-out;
    }
    /* X Button Rotate Animation */
    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
.fa-bars {
    padding: .5rem;
}

/* Mobile Nav */
.mobile-nav {
    display: flex;
    padding: .5rem;
    position: absolute;
    width: 100%;
}
    .mobile-nav div:nth-child(1) {
        align-items: left;
    }
        .mobile-nav div:nth-child(1) img {
            height: 5rem;
            padding: 0 .5rem;
            padding-top: 0.75rem;
        }
    .mobile-nav div:nth-child(2) {
        text-align: right;
        width: 80%;
    }
        .mobile-nav div:nth-child(2) i {
            text-decoration: none;
            padding: 2.5rem;
            padding-top: 2rem;
            font-size: 3rem;
            color: #f5f5f5;
        }

/* Full Nav */
.full-nav {
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: absolute;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    z-index: 200;
    background-image: linear-gradient(to bottom right, #166e3f, #0e5d33, rgb(1, 165, 105));
    background-size: cover; /* Optional: Ensures the gradient covers the whole area */
    background-repeat: no-repeat; /* Prevents tiling of the background */
    padding-bottom: 1rem;
}
    .full-nav div:nth-child(1) {
        align-items: left;
    }
        .full-nav div:nth-child(1) img {
            height: 7.5rem;
            padding: 0 .5rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }
    .full-nav div:nth-child(1) {
        word-spacing: 1.5rem;
        /* text-align: right; */
        font-size: 1.5rem;
        /* width: 80%; */
    }
        .full-nav div:nth-child(1) a {
            text-decoration: none;
            color: #f5f5f5;
        }
        .full-nav div:nth-child(1) a:hover {
            text-decoration: none;
            color: #f5f5f5;
        }

/* overlay */
/* mobile overlay nav */

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 2;
}
    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
        .overlay-text a {
            display: block;
            color: #f5f5f5ea;
            font-weight: 600;
            text-decoration: none;
            font-size: 3rem;
            padding: .5rem 2rem;
            transition: all 200ms ease-in-out;
        }
    .overlay-modes {
        position: relative;
        top: -5%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2.5rem;
        width: 50%;
    }

/* This pushes the content of pages from the top to below the navigation bar */
.start {
    margin-top: 10rem;
}
    @media (max-width: 980px) {
        .start {
            margin-top: 2rem;
        }

        .banner {
            display: none;
        }
    }

.background-white {
    background-image: linear-gradient(to bottom right, #ede6e1, #dfdfdf, #fff4ec);
}

/* Double Section */
.double-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: .5rem auto 2rem;
    max-width: 1200px;
    color: #fff;
    justify-items: center;
    font-size: 1.5rem;
}
    .double-section-child {
        width: 85%;
        text-align: center;
        color: #fff;
        border-radius: 0rem;
    }
        @media (max-width: 800px) {
            .double-section-child {
                width: 95%;
            }
        }
        .double-section-child div h2 {
            text-align: center;
            font-size: 1.75rem;
            padding: 0 .25rem;
        }
        .double-section-child div p {
            text-align: center;
            font-size: 1.5rem;
            padding: 0 .25rem;
        }
    @media (max-width: 768px) {
        .double-section, .triple-section {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0.25rem;
        }
    }