* {
    font-family: "Kanit", sans-serif;
    font-size: 115%;
}

body {
    background: #f5f5f5;
    margin: 0;
    box-sizing: border-box;
    color: #272727
}
    @media (max-width: 967px) {
        html {
            font-size: 100%;
            /* Adjust the base font size for smaller screens */
        }
    }

    @media (max-width: 768px) {
        html {
            font-size: 85%;
            /* Adjust the base font size for smaller screens */
        }
    }

/* X button on Mobile Navigation Menu */
.fa-times {
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
}
    .fa-times:hover {
        animation: rotateAnimation 200ms ease-in-out;
    }
    /* X Button Rotate Animation */
    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }

.mobile-nav {
    display: flex;
    padding: .5rem;
    position: absolute;
    width: 100%;
}
    .mobile-nav div:nth-child(1) {
        align-items: left;
    }
        .mobile-nav div:nth-child(1) img {
            height: 7.5rem;
            padding: 0 .5rem;
            padding-top: 0.75rem;
        }
    .mobile-nav div:nth-child(2) {
        text-align: right;
        width: 80%;
    }
        .mobile-nav div:nth-child(2) i {
            text-decoration: none;
            color: #272727;
            padding: 2.5rem;
            padding-top: 3rem;
            font-size: 3rem;
        }

.full-nav {
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: fixed;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    background-color: #f9f9f9a1;
}
    .full-nav div:nth-child(1) {
        align-items: left;
    }
        .full-nav div:nth-child(1) img {
            height: 7.5rem;
            padding: 0 .5rem;
        }
    .full-nav div:nth-child(2) {
        word-spacing: 1.5rem;
        text-align: right;
        width: 80%;
    }
        .full-nav div:nth-child(2) a {
            text-decoration: none;
            color: #272727
        }

/* overlay */
/* mobile overlay nav */

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 2;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text a {
    display: block;
    color: #f5f5f5ea;
    font-weight: 600;
    text-decoration: none;
    font-size: 3rem;
    padding: .5rem 2rem;
    transition: all 200ms ease-in-out;
}

.start {
    margin-top: 7.5rem;
}
.spacer {
    width: 92.5%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    height: 1.5rem;
    background: linear-gradient(90deg, rgba(91,206,250,1) 0%, rgb(33, 89, 174)100%);
    border-radius: 1rem;
}

.text-section {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    background: #e0e0e0;
    border-radius: 0.1rem;
}

.center {
    text-align: center;
}

/* Text Decorations None */
.delinkify {
    text-decoration: none;
}

/* Dark Gray */
.gray-27 {
    color: #272727;
}

@media (max-width: 800px) {
    .spacer {
        width: 100%;
        border-radius: 0rem;
    }

    .text-section {
        width: 97.5%;
        border-radius: 0rem;
    }
}

.triple-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: .5rem auto 2rem;
    max-width: 1200px;
    color: #272727;
    justify-items: center;
    font-size: 1.5rem;
}
    .triple-section img {
        border-radius: 1rem;
        width: 95%;
    }
    .triple-section-child {
        width: 85%;
        text-align: center;
        color: #272727;
        border-radius: 1rem;
    }
        .triple-section-child div p {
            text-align: center;
            font-size: 1.5rem;
            padding: 0 .25rem;
        }
        .triple-section-child div h3 {
            font-size: 1.75rem;
        }
        .triple-section-child div h4 {
            font-size: 1.50rem;
        }
        .triple-section-child div h5 {
            font-size: 1.25rem;
        }
        .triple-section-child div a {
            padding: .5rem 1.5rem;
            background-color: #F5A9B8;
            color: #fff;
            border: none;
            border-radius: 1.5rem;
            font-size: 1.5rem;
            text-decoration: none;
            align-self: center;
        }
    @media (max-width: 768px) {
        .triple-section {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
        }
        .triple-section-child {
            padding-bottom: 3rem;
        }
    }
    /* Round Images for Meet the Team */
    .round-image img {
        border-radius: 25rem;
    }

footer .triple-section {
    max-width: 1250px;
    }
.footer-section-nav {
    word-spacing: .5rem;
    font-size: 1.25rem;
}
    .footer-section-nav a {
        text-decoration: none;
        color: #272727;
        font-size: 1.25rem;
    }
    .copyright {
        text-decoration: none;
        color: #272727;
        font-size: 1.5rem;
    }
    .socials {
        text-decoration: none;
        font-size: 1.75rem;
    }

@media (min-width: 801px) {
    .mobile-nav {
        display: none;
    }
}
    
@media (max-width: 800px) {
    .full-nav {
        display: none;
    }
    
    .mobile-nav {
        padding: 0;
        height: 4rem;
        font-size: 2rem;
    }
    
    .fa-bars {
        padding: .5rem;
    }
    
    .spacer {
        width: 100%;
        border-radius: 0rem;
    }

    .hide-mobile {
        display: none;
    }
}