/* Text align */
.center {
    text-align: center;
}

/* Text Decorations None */
.delinkify {
    text-decoration: none;
}

.italics {
    font-style: italic;
}

/* Text Colour */
    /* White */
    .font-white, .font-white-perm {
        color: white;
    }
        .light-mode .font-white {
                color: #272727;
        }
    /* Light Blue */
    .font-lightblue {
        color: #5396c0;
    }
    /* Gray */
    .font-gray {
        color: #272727;
    }

/* Font Sizes */
.rem5 {
    font-size: 5rem;
}

.rem4 {
    font-size: 4rem;
}

.rem3 {
    font-size: 3rem;
}

.rem2-5 {
    font-size: 2.5rem;
}

.rem2 {
    font-size: 2rem;
}

.rem1-75 {
    font-size: 1.7rem;
}

.rem1-5 {
    font-size: 1.5rem;
}


.rem1-25 {
    font-size: 1.25rem;
}

.rem1 {
    font-size: 1rem;
}

.rem0-75 {
    font-size: 0.75rem;
}

.rem0-5 {
    font-size: .5rem;
}

/* Font Weight */
.bold-300 {
    font-weight: 300;
}

.bold-400 {
    font-weight: 300;
}

.bold-500 {
    font-weight: 500;
}

.bold-600 {
    font-weight: 600;
}

.bold-700 {
    font-weight: 700;
}

/* Width Size */

.width-25 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.width-50 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.width-75 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.width-85 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.width-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
    @media (max-width: 800px) {
        .width-90, .width-85, .width-75, .width-50, .width-25 {
            width: 80%;
        }
    }

/* Text Height */
.text-height1 {
    line-height: 1rem;
}

/* Margins */
.margin-top0-25 {
    margin-top: 0.25rem;
}

.margin-top0-5 {
    margin-top: 0.5rem;
}

/* Img Height */
.img-height5 {
    height: 5rem;
}

.img-height7-5 {
    height: 7.5rem;
}

.img-height10 {
    height: 10rem;
}

/* Div Center */
.div-center {
    margin-left: auto;
    margin-right: auto;
}

/* Hide Element */
.hide-all {
    display: none;
}

@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }

    .hide-desktop {
        display: none;
    }
}
    
@media (max-width: 768px) {
    .full-nav {
        display: none;
    }

    .hide-mobile {
        display: none;
    }
}