* {
    font-family: "Kanit", sans-serif;
    font-size: 100%;
}

body {
    background: #272727;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
    @media (max-width: 967px) {
        html {
            font-size: 100%;
            /* Adjust the base font size for smaller screens */
        }
    }

    @media (max-width: 768px) {
        html {
            font-size: 85%;
            /* Adjust the base font size for smaller screens */
        }
    }
    /* Light Mode */
    .light-mode {
        background: #fff;
        color: #272727;
    }

button {
    color: #272727;
    border-radius: 0.5rem;
}

.light-mode button {
    background: #272727;
    color: #fff;
    border-radius: 0.5rem;
}
.light-mode button:hover {
    background: #323232;
    color: #fff;
    border-radius: 0.5rem;
}

/* X button on Mobile Navigation Menu */
.fa-times {
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
}
    .fa-times:hover {
        animation: rotateAnimation 200ms ease-in-out;
    }
    /* X Button Rotate Animation */
    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
.fa-bars {
    padding: .5rem;
}

.mobile-nav {
    display: flex;
    padding: .5rem;
    position: absolute;
    width: 100%;
}
    .mobile-nav div:nth-child(1) {
        align-items: left;
    }
        .mobile-nav div:nth-child(1) img {
            height: 7.5rem;
            padding: 0 .5rem;
            padding-top: 0.75rem;
        }
    .mobile-nav div:nth-child(2) {
        text-align: right;
        width: 80%;
    }
        .mobile-nav div:nth-child(2) i {
            text-decoration: none;
            padding: 2.5rem;
            padding-top: 3rem;
            font-size: 3rem;
            color: #fff;
        }
            /* Light Mode */
            .light-mode .mobile-nav div:nth-child(2) i {
                color: #272727;
            }

.full-nav {
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: absolute;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    z-index: 200;
}
    .full-nav:hover {
        background-color: #323232;
    }
        /* Light Mode */
        .light-mode .full-nav:hover {
            background-color: #d5d5d5;
        }
    .full-nav div:nth-child(1) {
        align-items: left;
    }
        .full-nav div:nth-child(1) img {
            height: 7.5rem;
            padding: 0 .5rem;
        }
    .full-nav div:nth-child(2) {
        word-spacing: 1.5rem;
        text-align: right;
        width: 80%;
    }
        .full-nav div:nth-child(2) a {
            text-decoration: none;
            color: #fff;
        }
            /* Light Mode */
            .light-mode .full-nav div:nth-child(2) a {
                color: #272727;
            }
        .full-nav div:nth-child(2) a:hover {
            text-decoration: none;
            color: #4bbae9;
        }
    .full-nav div button {
        margin-right: 2.5rem;
    }

/* overlay */
/* mobile overlay nav */

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 2;
}
    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
        .overlay-text a {
            display: block;
            color: #f5f5f5ea;
            font-weight: 600;
            text-decoration: none;
            font-size: 3rem;
            padding: .5rem 2rem;
            transition: all 200ms ease-in-out;
        }
    .overlay-modes {
        position: relative;
        top: -5%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2.5rem;
        width: 50%;
    }

/* This pushes the content of pages from the top to below the navigation bar */
.start {
    margin-top: 8rem;
}

.spacer {
    width: 92.5%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    height: 1rem;
    background: linear-gradient(90deg, rgba(1,159,227,255) 0%, rgba(227,1,191,255)50%, rgba(1,159,227,255) 100%);
    border-radius: 1rem;
}

.text-section {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    border-radius: 0.1rem;
}

@media (max-width: 800px) {
    .spacer {
        width: 100%;
        border-radius: 0rem;
    }

    .text-section {
        width: 97.5%;
        border-radius: 0rem;
    }
}

.double-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: .5rem auto 2rem;
    max-width: 1200px;
    color: #fff;
    justify-items: center;
    font-size: 1.5rem;
}
    .double-section-child {
        width: 85%;
        text-align: center;
        color: #fff;
        border-radius: 0rem;
    }
        @media (max-width: 800px) {
            .double-section-child {
                width: 95%;
            }
        }
        .double-section-child div h2 {
            text-align: center;
            font-size: 1.75rem;
            padding: 0 .25rem;
        }
        .double-section-child div p {
            text-align: center;
            font-size: 1.5rem;
            padding: 0 .25rem;
        }

.triple-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: .5rem auto 2rem;
    max-width: 1200px;
    color: #fff;
    justify-items: center;
    font-size: 1.5rem;
}
    .triple-section img {
        border-radius: 1rem;
        width: 95%;
    }
    .triple-section-child {
        width: 90%;
        text-align: center;
        color: #fff;
        border-radius: 0.5rem;
    }
        .triple-section-child div p {
            text-align: center;
            font-size: 1.25rem;
            padding: 0 .25rem;
        }
        .triple-section-child div h3 {
            font-size: 1.75rem;
            font-weight: 700;
            margin: 1rem;
        }
        .triple-section-child div h4 {
            font-size: 1.50rem;
            font-weight: 600;
            margin: 1rem;
        }
        .triple-section-child div h5 {
            font-size: 1.25rem;
            font-weight: 600;
            margin: 1rem;
        }
        .triple-section-child div a {
            padding: .5rem 1.5rem;
            background-color: #F5A9B8;
            color: #fff;
            border: none;
            border-radius: 1.5rem;
            font-size: 1.5rem;
            text-decoration: none;
            align-self: center;
        }
    @media (max-width: 768px) {
        .double-section, .triple-section {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0.25rem;
        }
        /* .double-section-child, .triple-section-child {
            padding-bottom: 3rem;
        } */
    }
    /* Round Images for Meet the Team */
    .round-image img {
        border-radius: 25rem;
    }

.services-banner-img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}
    
/* Edited by */
.editedbysam {
    background-color: #5396c0;
    padding: .25rem;
    width: 100%;
}
    .editedbysam:hover {
        background-color: #4bbae9;
        border-radius: 2rem;
    }
    
/* Written by */
.writtenbysam {
    color: #5396c0;
    background-color: #424242;
    padding: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 1rem;
}
    .writtenbysam:hover {
        background-color: #4bbae9;
        color: #424242;
    }
    /* Light Mode */
    .light-mode .writtenbysam {
        background-color: #d5d5d5;
    }
        .light-mode .writtenbysam:hover {
            background-color: #4bbae9;
            color: #424242;
        }
    
/* Article (on /article) */
.article {
    background:  #424242;
    border-radius: 1rem;
    color: #fff;
}
    .article:hover {
        background: #323232;
    }
    /* Light Mode */
    .light-mode .article {
        background-color: #dbdbdb;
    }
        .light-mode .article:hover {
            background-color: #d5d5d5;
        }
    /* Special Article Styling */
        /* Post Linking (between Articles in an Article) */
        .articlelink {
            color: #5396c0;
        }
    /* Post Type (on /article) */
        /* Post Type: Fediverse */
        .posttype-fediverse {
            background-color: #4fbf41;
            padding: .25rem;
            border-radius: 1rem;
        }
        /* Post Type: META */
        .posttype-meta {
            background-color: #5396c0;
            padding: .25rem;
            border-radius: 1rem;
        }
        /* Post Type: Technology */
        .posttype-tech {
            background-color: #a62bbb;
            padding: .25rem;
            border-radius: 1rem;
        }
        /* Post Type: Gaming */
        .posttype-gaming {
            background-color: #dc5215;
            padding: .25rem;
            border-radius: 1rem;
        }
        /* Post Type: Gaming */
        .posttype-motorbike {
            background-color: #2556b7;
            padding: .25rem;
            border-radius: 1rem;
        }
    /* Social links */
    .social-padding {
        padding-right: 1rem;
    }
    /* Article Image */
    .article-img {
        border-radius: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
        @media (max-width: 800px) {
            .article-img {
                width: 95%;
            }
        }

footer .triple-section {
    max-width: 1250px;
    }
.footer-section-nav {
    word-spacing: .5rem;
    font-size: 1.25rem;
}
    .footer-section-nav a {
        text-decoration: none;
        color: #fff;
        font-size: 1.25rem;
    }
        .footer-section-nav a:hover {
            color: #4bbae9;
        }
        /* Light Mode */
        .light-mode .footer-section-nav a {
            color: #272727;
        }
            .light-mode .footer-section-nav a:hover {
                color: #4bbae9;
            }
    .copyright {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
        /* Light Mode */
        .light-mode .copyright {
            color: #272727;
        }
    .socials {
        text-decoration: none;
        font-size: 1.75rem;
        color: #fff;
    }
        .socials:hover {
            color: #4bbae9;
        }
        /* Light Mode */
        .light-mode .socials {
            color: #272727;
        }
            .light-mode .socials:hover {
                color: #4bbae9;
            }

@media (max-width: 800px) {
    .mobile-nav {
        padding: 0;
        height: 4rem;
        font-size: 2rem;
    }
    
    .spacer {
        width: 100%;
        border-radius: 0rem;
    }
}